.button {
  margin: 0;
  border: none;
  padding: 0;
  background: none;
}
.searchWrapper {
  position: absolute;
  top: 72px;
  left: 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 70px;
  background-color: #f1f1f1;
  transition: max-height 200ms ease-out 100ms;
  .searchField {
    position: relative;
    margin: 0 auto;
    max-width: 300px;
    .searchLabel {
      display: block;
      overflow: hidden;
      width: 0;
      height: 0;
    }
    .searchInput {
      border-radius: 1.5rem;
      border:none &::focus {
        width: 100%;
        height: 40px;
        padding: 0.5rem 1.25rem;
        font-size: 1rem;
        color: blue;
        background-color: #fff;
        outline: #fff;
      }
      &::placeholder {
        color: orange;
      }
    }
    .button {
      position: absolute;
      right: 15px;
      top: 4px;
    }
  }
}

@media (min-width: 600px) {
  .searchWrapper {
    .searchField {
      max-width: 500px;
    }
  }
}
